body{
    background-color: purple;
    /* background-image: url('../images/Dorfak.jpg'); */
    /* background-repeat: no-repeat; */
}
h1{
    color: rgb(242, 255, 0, 0.5);
    border-style: solid;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-left: 400px;
    width: 500px;
    height: 200px;
    /* text-transform: lowercase; */
    letter-spacing: 10px;
    text-shadow: 5px 5px rgb(242, 255, 0, 0.3);
}
p{
    color: rgb(255, 175, 1);
    border: 10px solid rgb(119, 128, 0);
    height: 200px;
    /* text-align: right; */
    direction: rtl;
    text-indent: 100px;
}
a{
    color: rgb(255, 175, 1);
    text-decoration: none;
}