body{
    background-color: purple;
}
table{
    background-color: yellow;
}
th{
    background-color: yellowgreen;
}
.title{
    background-color: rgb(123, 255, 0);
}
.mohtava{
    background-color: red;
}